body {
  font-family: 'Baloo', cursive;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: rgb(58, 81, 114);
  color: #464E5B;
}

/* Pokemon Container styling minimum  */
.pokemonContainer {
  width: 100%;
  max-width: 800px;
  min-width: 200px;
  margin: 20px auto;
  padding: 15px 10px;
}

.modal-header {
  color: #fff;
  background-color: #17A2B8;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal p {
  margin-bottom: 0;
  text-align: center;
  color: #4A6890
}

.pokemonimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}

/* Media Queries*/
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
    text-align: center;
  }
}
